//techcommunity-banners - mobile.scss

//CSS to change the Discourse header Logo for Mobile [Added by: Saurabh; Date: 20-08-2021]
body{ 
    &:not(.archetype-regular):not(.archetype-private_message){
        .title > a:first-of-type {
            background-image: url($sag-techcommunity-small-white-logo);                                      
            background-size: auto 100%;
            background-repeat: no-repeat;
            width: 36px;
            height: 2.4em !important;
            
            img {
                display: none !important;
            }
        }
    }
}