//techcommunity-banners - common.scss

/**
* Style for  Header Navigation, Category, Tag, Home Page Banners [Added by: Saurabh; Date: 06-08-2021]
*/

body{ 
    &:not(.category.category-header){
        .category-header-banner {
            display: none;    
        }
    }
}

// ------ CSS Moved From The "my component - common.scss" [Date: 15-02-2022] ------------
/*** Edit top navigation styles ***/
//Edit top navigation search bar (Note: Currently we are using search-dropdown and not search-header)
.d-header .title .search-header {
    margin-top: 14px;
}
.d-header .title .search-header .search-icon, .d-header .search-menu input[type="text"] {
    height: 32px;
}
button.widget-button.btn.search-icon.no-text.btn-icon {
    padding: 6px 20px;
}
.title .search-header .search-icon, .title .search-header #search-term {
    border: 1px solid #bababa !important;
}
.title .search-header .search-icon {
    background: #fcfcfc;
}
//Move custom nav items to the right
.d-header li.vdo {
    float: right;
    order: 2;
}

//Hide the custom nav items for anonymous users
.anon .d-header .d-header-icons li.vdo {
    display: none;
}

.d-header .d-header-icons li.vdo .icon {
    padding-right: 0;
    padding-left: 0.1em;
}
.d-header .d-header-icons li.vdo .icon .svg-icon {
    height: 0.95em;
}
.d-header .d-header-icons li.vdo .icon svg.fa.d-icon.d-icon-trophy.svg-icon.svg-node {
    height: 0.90em;
}
.d-header .d-header-icons li.vdm .icon {
    padding-left: 6px;
    padding-right: 2px;
    width: 1.6em;
}

//Hide subcategories in hamburger menu
.hamburger-panel li.category-link.subcategory {
  display:none;
}
//HIDE TAGS in hamburger menu for NON-STAFF
.menu-container-general-links .widget-link[title="Tags"] {
  display:none;
}
.staff .menu-container-general-links .widget-link[title="Tags"] {
  display:block !important;
}

button.widget-button.btn.btn-primary.btn-small.sign-up-button.btn-text {
    margin-left: 10px;
}

.menu-panel li a.widget-link, .menu-panel li.heading a.widget-link {
    color: #011f3d;
}

.menu-panel li a.widget-link:hover {
    color: #9a50f8;
}

.d-header-icons .unread-notifications {
    background-color: #9a50f8 !important;
}

// ------ End of CSS Moved From The "my component" ------------
html.anon .d-header {
    @media only screen and (max-width: 1050px) {
        .d-header-icons .search-dropdown #search-button{
            right: 0.5em;
        }
    }
    @include breakpoint("mobile-large") {
        .d-header-icons .search-dropdown #search-button{
            right: 0em;
        }
    }
}

//Set the 36px height for the new site logo [Added by: Saurabh; Date: 21-02-2022] 
.d-header #site-logo.logo-big {
    height: 36px !important;
    margin-top: -4px;
}
.d-header {
    //Hide the Products and Sections header links for all devices other than desktop
    @media only screen and (max-width: 1050px) {
        .products, .sections-techcomm{
            display: none;
        }
    }
}

body { 
    /*CSS for the Discourse Header*/
    &:not(.archetype-regular):not(.archetype-private_message):not(.archetype-banner){
        .d-header {
            box-shadow: none !important;
            
            .d-header-icons li.hamburger-dropdown.active .icon svg.fa.d-icon.d-icon-bars.svg-icon.svg-node, 
            .d-header-icons li.search-dropdown.active svg.fa.d-icon.d-icon-search.svg-icon.svg-node {
                color: #011f3de0 !important;
            }
            
            // Change for the search icon
            #search-button {
                padding-bottom: 1px;
                padding-right: 1px;
            }
            .search-dropdown.active #search-button {
                background: var(--secondary) !important;
                &::after {
                    border-top: none !important;
                }
                &:hover {
                    border-bottom: 1px solid rgba(0,0,0,0) !important;
                }
                
            }

            // Change color for the search icon on hover
            .d-header-icons .d-icon-search:hover, .d-header-icons #search-button:hover .d-icon-search,
            .d-header-icons .d-icon-search:focus, .d-header-icons .d-icon-search:focus{
                color: #011F3D !important;        
            }
            
            //Set Products and Sections header links color to white for Purple navigation
            .btn-products, .btn-sections{
                @include breakpoint("mobile-large") {
                    font-size: 1.2em;
                }
                @include breakpoint("mobile") {
                    font-size: 1em;
                }
            }

            //Hide the Products and Sections header links for all devices other than desktop
            @media only screen and (max-width: 1050px) {
                .products, .sections-techcomm{
                    display: none;
                }
            }

            /* CSS for Header Try Free button and login button */
            /* Binjan; 2023.08.22; change CSS class hierarchy for try-free-custom-header-links for staging environment */
            .custom-header-links .try-free,
            .header-buttons .login-button, 
            .header-buttons .sign-up-button
            {
                border: 0.5px solid var(--secondary);
                a,span{
                    font-weight: bold !important;
                }
                a{
                    padding: 6px 10px !important;
                }
            }
            
            .custom-header-links .try-free, 
            .header-buttons .login-button, 
            .header-buttons .sign-up-button {
                padding: 8.3px 18px 6.8px 18px !important;
            }
        }
    }
    
    &.archetype-regular, &.archetype-private_message, &.archetype-banner{
        .try-free a {
            font-weight: bold !important;
            color: #011f3d !important;
        }
        
        .custom-header-links .try-free {
            padding: 8.3px 18px 6.8px 18px !important;
            background-color: var(--highlight);
        }
        
        .try-free:hover {
            background-color: #abbb17 !important;
            transition: all 0.25s;
        }
        
    }
    
    //Display down arrow for the Products and Sections header links
    .d-header {
        .btn-products, .btn-sections{
            float: left;
        }
        
        .products:hover .products-caret, .sections:hover .sections-caret {
            border-color:#9a50f8 !important;
        }
        
        .products-caret, .sections-caret {
            display: inline-block !important;
            border: solid #011F3D;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 4px;
            margin: 0px 10px 4px 10px;
            clear: both;
            
        }
    }
    
    /* CSS for Discourse Category Banner */
    /*&.category.category-header {*/
    &.category-header {                
        .category-title-header {            
            width: 100%;
            background: linear-gradient(104deg, #011F3D 0%, #3B2C5E 100%);
            color: var(--secondary) !important;
            justify-content: left !important;
            align-items: center;
            padding: 0px !important;
            @include breakpoint("tablet", min-width) {
                height: 280px;
            }                
        }
        
        .category-title-contents {
            width: 1110px;
            margin: 20px auto 40px auto;
            max-width: calc(100% - 16px);
            padding: 40px 0px;
            @include breakpoint("mobile-large") {
                padding-left: 10px !important;
                margin: 20px 0px 40px 0px;
            }
            text-align: left;
            color: var(--secondary);
            display: block;
            float: left;
            min-width: 340px;
        }
        
        .category-title-contents .category-title-description {
            font-size: 1.33em;
            margin-left: 25px; /* Binjan; 2023.10.25 */
            .cooked{
                padding: 0px !important;
            }
        }
        
        .category-title {
            font-size: 3em;
            //Fix the category title alignment issue occurred after updating the discourse-category-banners component. [Added by: Saurabh; Date: 16-02-2022]
            justify-content: left !important; 
            margin-left: 25px; /* Binjan; 2023.10.25 */

            /* Added by Binjan; 2023.10.25; remove background when tag inside category header  */
            .tag-banner-container {
                background: none;
            }
        }

        //Align the links in category banners
        .cooked {
            span {
                display: block;
                margin-top: 0.8em;
                a {
                    color: #000;
                    background-color: var(--primary-low);
                    padding: 8px 12px;
                    line-height: 1.1;
                    vertical-align: -webkit-baseline-middle;
                    display: inline-block;
                    margin-bottom: 5px;
                    text-decoration: none;
                    font-size: 15.008px;

                    &:visited {
                        color: #000;
                    }

                    &:hover , &:focus {
                        color: var(--secondary) !important;
                        background: #9a50f8 !important;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

    /* Added by Binjan; 2023.10.25; Hide category description on Category Tag page */
    &.category-header.tags-page {
        .category-title-description {
            display: none;
        }
    }
    
    /* CSS for Tag Page baaner */
    //Modified the tag-banner CSS class after updating the discourse-tag-banners component [Modified by: Saurabh; Date: 08-05-2023]
    .tag-banner-container {
        width: 100%;
        background: linear-gradient(104deg, #011F3D 0%, #3B2C5E 100%);

        /* Added by Binjan; 2023.10.25 */
        .tag-banner__text-only {
            align-items: flex-start;
            justify-content: left;
            font-size: 2.5rem;
            /* Binjan; 2023.10.26; update category tag page header CSS */
            &::before {
                content: "/ ";
                background: transparent !important;
            }          

            .discourse-tag.box {
                box-shadow: none;
            } 
        }
        
        .tag-title-header{
            background: none !important;
            background-repeat: no-repeat;
            background-size:100% 100%;
            padding-top: 0px;
        }
        .tag-title-header .tag-title-contents {
            max-width: calc(100% - 16px);
            width: 1110px;
            margin: auto;
            justify-content: center !important;
            align-items: flex-start; /* updated by Binjan; 2023.09.01 */
            padding: 0px 20px 0px 0px !important;
            display: inline-flex; /* updated by Binjan; 2023.09.01 */
            flex-direction: column; /* added by Binjan; 2023.09.01 */
            flex-wrap: wrap; /* added by Binjan; 2023.09.01 */ 
            text-align: left;
            height: 260px;     
            color: var(--secondary);   
            
            h1 {
                font-size: 3em !important;
                /*padding: 30px 0px 0px 20px !important; 
                margin: 10px 0px 0px 0px; */ /* removed by Binjan; 2023.09.01 */                
                padding: 15px 0px 0px 30px; /* added by Binjan; 2023.09.12 */
                margin-top: 20px;
                text-transform: uppercase;
                @include breakpoint("mobile-large") {
                    padding-left: 10px !important;
                    margin: 20px 0px 40px 0px;
                }
                text-align: left;
                color: var(--secondary);
                display: block;
                /*float: left; */ /* removed by Binjan; 2023.09.01 */
                min-width: 340px;
            } 
            /* added by Binjan; 2023.09.12 */
            p {                
                padding: 0px 0px 15px 30px;
                margin-bottom: 20px;
            }    
            /* added by Binjan; 2023.09.20 */
            div.t-d-b {
                /* added by Binjan; 2023.09.13 */
                a {
                    color: #000;
                    background-color: #fff !important;
                    padding: 8px 12px;
                    line-height: 1.1;
                    vertical-align: -webkit-baseline-middle;
                    display: inline-block;
                    margin-bottom: 5px;
                    word-wrap: break-word;
                }
            }
        }
    }
    
    //CSS for Tag Sidebar Banner
    &.custom-tag-sidebar #main-outlet .discovery-list-container-top-outlet.tag-sidebar{
        margin-left: calc(-50vw + 40%) !important; /* Updated by Binjan; 2023.10.25 */
        margin-right: calc(-50vw + 40%) !important;
        margin-bottom: 20px !important;
        margin-top: -20px;
        .tag-sidebar{
            margin: 0px !important;
            background: linear-gradient(104deg , #011F3D 0%, #3B2C5E 100%) !important;
        }  
        .sticky-sidebar{
            min-height: 280px;
            align-items: center;   
            max-width: 1110px !important;
            width: auto !important;
            display: flex;
            text-align: center;
            background: none !important;
            margin: auto;
            justify-content: left !important;
            padding: 0px !important;
            .tag-sidebar-contents {                
                /*padding: 40px 0px !important;
                margin: 20px 0px 40px 25px;*/ /* removed by Binjan; 2023.09.01 */
                padding: 15px 20px !important;
                margin: 20px 0px;
                text-align: left;
                color: black;
                display: block;
                float: left;
                min-width: 340px;
                @include breakpoint("mobile-large") {
                    margin: 20px 0px 40px 0px;
                }
                background: none;
                .cooked{
                    padding: 0px !important;
                    h1{
                        color: var(--secondary);
                        font-size: 3em;
                    } 
                    p {
                        color: var(--secondary);
                    }
                }
                //tag sidebar summary/expandable tag
                details {
                    display: inline-block;
                    vertical-align: top;
                }
                details p {
                    margin-top: 3px;
                }
                summary {
                    color: #000000;
                    background-color: #ffffff;
                    padding: 8px 12px;
                    line-height: 1.1;
                    font-size: 1rem;
                }
                [data-techcommunity-product-tags] details p a {
                    margin-bottom: 3p;
                    margin-bottom: 2px;
                    margin-left: 19px;
                    padding: 6px 10px;
                    width: 185px;
                }
            }
            .tag-sidebar-webMethods .cooked {
                text-align: left !important;
            }
        }
    } 
}

/* Home page banner changes [Added by Binjan; 2023.09.16 */
html {
    &:not(.anon) {
        #main .banner-box {
            background-image: none !important;
            height: 0px;
            /* Added by Binjan; 2023.10.25 */
            .section-header, 
            #banner-content_wrap,
            .container {
                display: none !important;
            }   
        } 
    }
}

//Home Page Banner Changes [Added by: Saurabh; Date: 23-08-2021]
#main {
    /* added by Binjan; 2023.09.16 */
    .below-site-header-outlet.banner-themes {
        background: linear-gradient(104deg , #011F3D 0%, #3B2C5E 100%);
    }
    /* Added by Binjan; 2023.10.25; After discourse update on 2023.10.24; control hierarchy is changed 
       and update CSS to adjust the components */
    .banner-box {
        background: linear-gradient(104deg, #011F3D 0%, #3B2C5E 100%);
        order: -1;
    }

    /* Updated by Binjan; 2023.10.25 */
    .banner-box .container {
        padding: 2em 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 1110px;
        background-color: transparent !important;
        background: none !important;
        background-size: auto 96%;
        background-position-x: 50vw;
        background-position-y: 29%;
        @include breakpoint("tablet") {
            background-size: auto 50%;
            background-position-x: right;
            background-position-y: 15%;
        }
        // CSS to display home page banner image only upto browser 120% zoom. And adjust the position of the image for the zoom out upto 60%.
        @media only screen and (min-width: 1100px) {
            background-image: url($Techcommunity-banner-image) !important; 
            background-size: auto 76% !important;
            background-position-y: 29% !important;
            background-position-x: 52vw !important;
            background-repeat: no-repeat !important;
            background-color: transparent !important;
            
            @media only screen and (min-width: 1900px) {
                background-position-x: 35vw !important;
            }
        }
        @include breakpoint("mobile-large") {
            background: none;
        }
        /*.container {
            padding: 2em 0; 
            @include breakpoint("tablet") {
                padding: 3em 0;
            }
            @include breakpoint("mobile-large") {
                padding: 1em 0;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 1110px;
        }*/
        .section-header h1 {
            padding-bottom: 25px !important;
            font-size: 3.2em;
            max-width: 40%;
            font-weight: 600;
            color: var(--secondary);
            text-align: left;
            margin-bottom: 0px;
            @include breakpoint("tablet") {
                font-size: 3em;
                max-width: 56%;
            }
            @include breakpoint("mobile-large") {
                font-size: 2.5em;
                max-width: 100%;
            }
        }
        div#banner-content_wrap {
            padding-bottom: 20px;
        }
        .row {
            display: block !important;
            @include breakpoint("mobile-large") {
                .first_column, .second_column, .third_column, .fourth_column {
                    width: 100%;
                }
            }
            
            .single-box {
                float: left;
                position: relative;
                min-height: 1px;
                padding: 0px 5px 20px;
                &.first_column {
                    padding-left: 0px;
                }
                @include breakpoint("mobile-large") {
                    padding: 0px 5px 10px !important;
                }
                text-align: center;
                a {
                    color: var(--secondary) !important;
                    background: transparent;
                    border: 1px solid var(--secondary);
                    width: 180px;
                    padding: 10px 5px;
                    font-size: 1.1em;
                    font-weight: 400;
                    display: block;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
                a:hover {
                    color: #011F3D !important;
                    background-color: var(--secondary) !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}

//Resolve the responsive issue for the Tablet
@include breakpoint("tablet") {
    #main-outlet.wrap {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// ------ CSS Moved From The "my component - common.scss" [Date: 15-02-2022] ------------
/*** Fix versatile banner component breaking DiscoTOC https://meta.discourse.org/t/versatile-banner/109133/125 ***/
.d-toc-timeline {
    overflow-x: unset;
}

.home-page-link {
    float: left;
}
.home-page-link .fa-home {
    padding: 0;
}
// ------ End of CSS Moved From The "my component" ------------


//Counter Bar on Home Page CSS [Added by: Saurabh; Date: 30-05-2022]
body {
    &.show-counter-bar #main .below-site-header-outlet.techcommunity-counter-bar {
        order: 0 !important;
        display: block;
        .counter-bar-wrapper {
            background-color: var(--tertiary);
            .counter-bar {
                display: flex;
                min-height: 48px;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                @include breakpoint("tablet") { 
                    font-size: 0.9rem;
                }
                max-width: 1196px;
                margin: auto;
                .counter-bar-column {
                    flex: 1 1 auto;
                    text-align: center;
                    border-right: 1px solid #ffffff;
                    &:last-child {
                        border-right: none !important;
                    }
                    a {
                        color: #ffffff;
                    
                        &:hover {
                            color: var(--highlight); ;
                        }
                    }
                    @include breakpoint("tablet") { 
                        padding: 3px;
                    }
                }
                .category-icon {
                    margin-right: 0.5em !important;
                }
            }
        }
    }
    &:not(.show-counter-bar) #main .below-site-header-outlet.techcommunity-counter-bar{
        display: none !important;   
    }
}

/* Binjan; 2023.07.21; Hide the anniversaries and birthdays on Navigation using CSS */
.sidebar-custom-sections .sidebar-section {
    .sidebar-section-link-wrapper[data-list-item-name='anniversaries'],
    .sidebar-section-link-wrapper[data-list-item-name='birthdays'] {
        display: none;
    }
}
