//techcommunity-banners - desktop.scss

//CSS to change the Discourse header Logo Desktop [Added by: Saurabh; Date: 20-08-2021]
body{ 
    &:not(.archetype-regular):not(.archetype-private_message){
        .d-header .title > a:first-of-type {
            // Change logo [Modified by: Binjan; Date: 18-02-2022]
            background-image: url($sag-techCommunity-light);  //url($sag-techcommunity-white-logo);                                              
            background-size: auto 100%;
            background-repeat: no-repeat;
            width: 296.36px;
            height: 36px !important;
            margin-top: -4px;
            img {
                display: none !important;
            }
        }
    }
    .d-header .wrap {
        padding: 0px 0px;
    }
}